@charset "UTF-8";
@font-face {
    font-family: Passion;
    src: url('font/Passion/PassionOne-Bold.ttf')format('truetype');
}
@font-face {
    font-family: Sriracha;
    src: url('font/Sriracha/Sriracha-Regular.ttf')format('truetype');
}
body{
    margin: 0px;
}
header{
    min-height: 30vh;
    width: 100%;
    background-color: black;
}
main{
    max-height: 100%;
}
footer{
    background-color: black;
    height: 100px;
}
section{
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 50px;
}
section#flor{
    background: #0b460b url('imagens/background001.jpg') no-repeat fixed;
    background-size: cover;
    background-position: right center;
}
section#cartas{
    background: #5e5e5e url('imagens/background002.jpg') no-repeat fixed;
    background-size: cover;
    background-position: right center;
}
div.fpreto{
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
}
h1{
    font-family: 'passion', Verdana, Tahoma, sans-serif;
    font-size: 15rem;
    color: aliceblue;
    margin: 0px;
    padding-top: 250px;
    text-align: center;
    
}
h1#creditos{
    padding-top: 0px;
    background-color: black;
    font-family: Tahoma, sans-serif, 'Arial Narrow', Arial, sans-serif;
    font-weight: 200;
    font-size: 2vh;
}
h2{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 50px;
    color: aliceblue;
    text-align: center; 
}
p{
    font-family: 'Sriracha', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3.5vw;
}
p#estro2, #estro5{
    color: aliceblue;
}
p#estro4, #estro7{
    margin-top: 15px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
a:hover{
    text-decoration: underline;
}