@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: black;
}
body{
    background-image: url(pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    height: 100vh;
    position: relative;
}

iframe{
    width: 268px;
    height: 473px;
    position: relative;
    left: 22px;
    top: 80px;
    background-image: url(pacote-d013/imagens/tela-home.jpg);
    background-size: cover;
}

section ol{
    text-align: right;
}

img{
    width: 50px;
    height: 50px;
    margin: 7px;
}

img:hover{
    width: 60px;
    height: 60px;
    margin: 2px;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
}

div#home{
    width: 50px;
    height: 50px;
    position: relative;
    left: 50%;
    top: 17%;
    transform: translate(-50%, -50%);
}
    