@charset "UTF-8";
style{

}
 P {
text-align: justify;}
body{
    background-image: linear-gradient(to left, #e4a633, #f99713);
}
main{
    background-color:white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 13px;
    box-shadow: 7px 7px 4px #965a0b;
}
h1{
    text-align: center;
    color:#000000 ;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}
h2{
    color: #333333;
}
p{
    color: rgb(0, 0, 0);
}